@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  word-wrap: break-word;
  min-width: 320px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

